/*GENERAL*/
@font-face
{
    font-family: 'Ubuntu-C';
    src: url('police/Ubuntu-C.ttf');
}

body
{
    background: rgb(224,224,224);
    font-family: 'Ubuntu-C';
    color: rgb(255,128,0);
}

#page
{
    width: 900px;
    margin: auto;
}

h1, h2
{
    font-family: 'Ubuntu-C';
    font-weight: normal;
    text-transform: uppercase;
}

a:hover
{
    color: rgb(255,255,255);
    /*border-bottom: 3px solid rgb(255, 255, 255);*/
}

/*HEADER*/
header
{
    /*Image trop grande, il faut la centrer*/
    background: url('images/bannière.jpg') repeat-x bottom;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    padding: 10px;
}

header h1
{
    font-family: 'Ubuntu-C';
    font-size: 2.5em;
    font-weight: normal;
    color: rgb(255,50,50);
    margin: 0 0 0 0px;
    text-align: center;
}

/*NAVIGATION*/
nav ul
{
    display: flex;
    justify-content: space-around;
}

nav a
{
    font-size: 1.3em;
    color : rgb(200,200,0);
    padding-bottom: 3px;
    text-decoration: none; /*Supprime le soulignement*/
}

/*MAIN*/
section
{
    display: flex;
    margin: 20 0 20 0px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 5;
}

article p
{
    float: right;
    font-size: 1em;
}

aside
{
    flex: 1;
    background-color: rgb(150, 150, 150);
    box-shadow: 0px 2px 4px black;
    border-radius: 10px;
    padding: 10px;

    font-size: 1em;
    color: white;
}

/*FOOTER*/
footer
{
    display: flex;
}

