/*GENERAL*/
@font-face{
    font-family: 'FiraPolice';
    src:url('police/Fira/FiraSans-Book.otf');
}

@font-face {
    font-family: 'HunterPolice';
    src: url('police/Mechanization.ttf');
}

body{
    background: rgb(160,160,160);
    font-family: 'FiraPolice';
    color: rgb(255,255,255);
    text-align: justify;
}

h1, h2{
	color: rgb(255, 192, 32);
    font-weight: bold;
    text-align: left;
}

a:hover{
    color: rgb(255,255,255);
    /*border-bottom: 3px solid rgb(255, 255, 255);*/
}

#page{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*HEADER*/
header{
    /*Image trop grande, il faut la centrer*/
    background: url('images/bannière.jpg') repeat-x bottom;
	background-size:cover;
	margin: 10px 5px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 6px black;
    padding: 10px;
}

header h1{
    font-family: 'HunterPolice';
    font-size: 2.5em;
    color: rgb(255,25,25);
    margin: 0 0 0 0px;
    text-align: center;
}

/*NAVIGATION*/
nav{
    display: flex;
    justify-content: space-around;

    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}

nav a{
    font-size: 1.3em;
    color: rgb(255, 192, 32);
    text-decoration: none; /*Supprime le soulignement*/
}

.nav:nth-child(4){
    /*EN COURS*/
}

/*MAIN*/
section{
    display: flex;
    justify-content: space-around;
}

article, aside{
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;

    font-size: 1em;
    color: white;
}

article{
    flex: 5;
}

article p{
    float: right;
    padding-right: 30px;
}

aside{
    flex: 1;
}

aside p{
    float: right;
}

/*FOOTER*/
footer{
    display: flex;

    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
}

/*FORMULAIRES*/
form{
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}
