@font-face {
    font-family: 'Ubuntu-C';
    src: url('police/Ubuntu-C.ttf');
}

body
{
    /*background-color: rgb(89, 204, 51);*/
    background-image : url("images/wartz.jpeg");
    color: black;
}

.titre
{
	font-family:'Ubuntu-C';
	font-size: 1.9em;
    color: rgb(255, 115, 30);

    text-decoration: none;
    text-align: center;
}

.texte
{
    color: green;
    font-style: italic;;

    text-decoration: none;
    text-align: justify;
}

.image_texte
{
    float: right;
}