/*
  Auteurs: Frapiccini Benoît & Artillan Antoine

*/

/* index:
- general
- mainpage
*/

/* =====GENERAL===== */

@font-face {
  font-family: 'QSLight';
  src: url('../ressources/police/Quicksand-Light.ttf');
}

body{
  /*background: #B2EBF2;*/
  background: -webkit-gradient(linear, 0% 50%, 50% 0%, from(#FF9800), to(#B2EBF2));
  background-attachment:fixed;
  background-repeat:no-repeat;
  font-family: 'QSLight';
  color: 212121;
}

h1, h2, article, p, a{
  color: #212121;
  font-weight: bold;
  text-align: left;
}

h1, h2{
	color: #212121;
  font-weight: bold;
  text-align: center;
}

hr{
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
}

a{
  text-decoration: none; /*Supprime le soulignement*/
}

a:hover{
  text-decoration: none; /*Supprime le soulignement*/
  color: #FF9800;
  /*border-bottom: 3px solid rgb(255, 255, 255);*/
}

strong{
  color: #FF9800;
}

.error{
  color: #d50000;
}

/* =====MAINPAGE===== */

#mainpage{
  width: auto;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*align-item centre par x*/
  text-align: center;
}

#main #avatar{
	width:75px;
  border-radius: 15px;
}

#main{
  width: auto;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center; /*justify-content centre par x*/
  align-items: flex-start; /*align-item centre par y*/
  text-align: center;
}

.textbox, .button{
  padding: 0px 10px 0px 10px;
  height: 30px;
  border: 1px solid #BDBDBD;
  border-color: rgba(0,0,0,.25);
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
}

.textbox{
  weight: 250px;
}

.playbutton{
  width: auto;
  height: 200px;
  border-radius: 1000;
}

.button:hover{
  color: #FF9800;
  border-color: rgba(255,152,0,.25);
}

#main #left{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: center;

  margin: 25px 15px 15px 0px;
}

#main #center{
  width: 360px;
  background-color: #FFFFFF;
	align-content: center;
  text-align: center;

  border-radius: 5px;
  padding: 25px 0px 25px 0px;
  margin: 25px 15px 15px 15px;
}

#main #right{
  width: 360px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

  border-radius: 5px;
  padding: 25px 0px 25px 0px;
  margin: 25px 0px 15px 15px;
}

#navigation{
  width: auto;
  background-color: #FFFFFF;
  align-items: center;
  text-align: center;

  border-radius: 5px;
  padding: 25px 0px 25px 0px;

  margin: 0px 0px 30px 0px;
}

#extraitsForums{
width: auto;
background-color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

border-radius: 5px;
padding: 25px 0px 25px 0px;
}

#footer{
  align-self: center; /* Seul ce bloc sera aligné à la fin */
}
