/*
    Auteurs: Frapiccini Benoît & Artillan Antoine
    */

/* index:
- general
- header
- navigation
- main
- footer
- formulaires
- wiki
- forum
- communauté
*/

/* =====GENERAL===== */
@font-face{
    font-family: 'FiraPolice';
    src:url('police/Fira/FiraSans-Book.otf');
}

@font-face {
    font-family: 'HunterPolice';
    src: url('police/Mechanization.ttf');
}

body{
    background: rgb(160,160,160);
    font-family: 'FiraPolice';
    color: rgb(255,255,255);
    text-align: justify;
}

h1, h2{
	color: rgb(255, 192, 32);
    font-weight: bold;
    text-align: left;
}

a{
    text-decoration: none; /*Supprime le soulignement*/
    color: rgb(255, 192, 32);
}

a:hover{
    text-decoration: none; /*Supprime le soulignement*/
    color: rgb(255,255,255);
    /*border-bottom: 3px solid rgb(255, 255, 255);*/
}

strong{
    color: rgb(255, 192, 32);
}

.error{
    color: rgb(255, 25, 25);
}

#page{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* =====HEADER===== */
header{
    /*Image trop grande, il faut la centrer*/
    background: url('images/bannière.jpg') repeat-x bottom;
    background-size:cover;
    margin: 10px 5px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 6px black;
    padding: 10px;
}

header a{
    font-family: 'HunterPolice';
    font-size: 1.5em;
    color: rgb(255,25,25);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);

    width: 970px;
    display: block;
    text-align: center;
}

header a:hover{
    color: rgb(255,25,25);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1.75);
}

/* =====NAVIGATION===== */
nav{
    display: flex;
    justify-content: space-around;

    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}


nav a{
    font-size: 1.3em;
    text-decoration: none; /*Supprime le soulignement*/
}

/* =====MAIN===== */
section{
    display: flex;
    justify-content: space-around;
}

article, aside{
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;

    font-size: 1em;
    color: white;
}

article{
    flex: 5;
}

article p{
    float: right;
    padding-right: 30px;
}

aside{
    flex: 1;
    text-align:left;
}

aside p{
    float: right;
}

/* =====FOOTER===== */
footer{
    display: flex;
    text-align:left;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2em;
}

/* =====FORMULAIRES===== */
form{    
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
}

/* =====WIKI===== */

/* =====FORUM===== */
#forum, #commentaires{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    text-align: left;
}

.post{
    width: 480px;
    height: 250px;
    border-radius: 0px;
    padding: 5px;
    margin: 5px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}

.post p{
    width: 480px;
    height: 150px;
    word-wrap: break-word;
    /*Origine du bug des barres blanches si passé en "scrool"; Utilisation de "hidden" à la place*/
    overflow: hidden;
}

.nom_post{
    text-transform: uppercase;
}

#forum_creer{
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}

.commentaire{
    width: 1000px;
    margin: auto;
    word-wrap: break-word;
}

#commentaire_creer{
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px 6px black;
}

/* =====COMMUNAUTE===== */







